# Scraping Data from a Website and using Pandas

In [17]:
from bs4 import BeautifulSoup # importing bs to fetch url html
import requests

In [19]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html') #fetching html on requested url page

In [117]:
#print(soup.prettify()) #printing url page and formatting it

In [37]:
table = soup.find('table', class_='wikitable sortable') #finding the table with class name

In [45]:
titles = table.find_all('th')

In [49]:
print(titles)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [55]:
table_titles = [title.text.strip() for title in titles]

print(table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [57]:
import pandas as pd

In [119]:
df = pd.DataFrame(columns = table_titles) #Adding table headings to data frame

df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [113]:
column_data= table.find_all('tr')[1:] #Fetches all rows in the table from index 1 of the table list

In [127]:
# Loop through each row in the column_data which contains html table rows
for row in column_data:
    # Finds all 'td' elements within the row (these represent the individual data cells of the table row)
    row_data = row.find_all('td') 
    # Extracts the text content from each 'td' element, strip any leading/trailing whitespace,
    # and stores the cleaned data in a list
    indi_row_data = [data.text.strip() for data in row_data]
    #print(indi_row_data)
    length = len(df) # Get the current length of the DataFrame (this will be the index for the new row to be added)
    df.loc[length] = indi_row_data # Add the cleaned data as a new row to the DataFrame

In [129]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [131]:
df.to_csv(r'Output/CompanyRevenue.csv', index = False) #Exporting data frame to csv file w/o index